<h1>Welcome to website, please log in: </h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <p>Username: <%= text_field_tag :name %></p>
    <%= submit_tag 'login' %>
<% end %>